@import '../../styles/shared/allShared';
@import '../../styles';

p {
  margin-left: 15px;
  white-space: pre-line;
}

h4 {
  margin-left: 15px;
  color: gray;
}

.OperationDetails-divider {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.OperationTimeline-svg {
  text {
    fill: $text-color;
  }

  line {
    opacity: 0;
  }

  path {
    opacity: 0;
  }
}

.Tabs-offset {
  margin-top: 48px;
}