@import '../../styles/shared/allShared';

.Timeline-theater-name {
	font-size: 10px;
	fill: $text-color;
	font-weight: bold;
	text-anchor: middle;
}

.Timeline-now-line {
	stroke-width: 1;
	stroke: #EC4B3A;
}

.Timeline-axis line {
	stroke-opacity: 0.1;
	shape-rendering: crispEdges;
}

.Timeline-axis path {
	opacity: 0;
}

.Timeline-axis text {
	fill: $text-color;
}

.Timeline-operation-click {
	stroke-width: 1;
	stroke: blue;
}

.Timeline-operation-backdrop {
	fill: rgba(231, 231, 231, 0);
	shape-rendering: crispEdges;
}

.Timeline-planned {
	shape-rendering: crispEdges;
}